//----------- layout --------------------
$layout-mobile: 480px;
$layout-tablet: 768px;
$layout-desktop: 992px;

//----------- size --------------------
$radius_card: 20px;

//----------- color --------------------
$primary_color: #FFD825;
$second_color: #686868;
$third_color: #343434;
$border_color:rgba(189, 189, 189, 0.303);