.info_div{
    margin: 10px;
    p{
        text-align: justify;
        font-size: 12px;
        margin: 0px 10px 30px 6px;
    }
    h3{
        font-size: 15px;
        text-align: start;
    }
}

.meta {
    p{
        text-align: justify;
        font-size: 12px;
        margin: 0px 10px 30px 6px;
    }
    h3{
        font-size: 15px;
    }
}

.btn{
    font-size: 15px;
}
