
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 30 0 30 0;
    overflow: hidden;
    position: fixed; 
    background-color: black;
}

header{
    padding: 20px;
    background-color: black;
}

div a{
    color: #FFD825;
}

a{
    /* para quitar los subrayado */
    text-decoration: none;
}


/* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

footer{
    margin-bottom: 0;
    background-color: #FFD825;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 15px;
    /* position: absolute; */
    
}

h4{
    color: #333 ;
    padding-left: 10px;
}


h3{
    color: #333;
    margin: 20px;
    text-align: justify;
}

h2{
    font-size: 40px;
    margin: 20px;
    margin-top: 50px;
}

h5{
    font-weight: bold;
    font-size: 18px;
    margin: 50px 0px 10px 0px;
}
p{
    font-size: 12px;
}

div{
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    
}

.logo {
    background-color: #FFD825;
    color: #333;
    font-size: 20px;
}
.textSiguenos{
    margin-top: 10px;
    margin-left: 20px;
}

.contenedor{
    background-color:#FFD825;
    width:100%;
    height:100px;
    display:flex;
    /* Extender los elementos al centro */
    justify-content: space-around;
}

.contenido {
    text-align: center;
}

.imgCenter img{
    width: 100%;
    height: auto;
}

.seccion1{
    width:100%;
    height:600px;
    display:block;
    margin: auto;
    text-align: center;
    
}


.meta{
    /* background-color: white; */
    width: 250px;
    border: solid 3px black;
    margin: 15px;
    /* alinear al centro */
    text-align: center;
    padding: 5px;
    transition-property: all;
    transition-duration: 1000ms;
}

.meta:hover{
    transform: scale(1.1);
    /* background-color: #FFD825; */
    /* border-color: #FFD825; */
}

.ventajas{
    text-align: start;
    margin: 10px;
}

.seleccionar{
    background-color: white;

    border: solid 3px #FFD825;
    margin: 10px;
    /* alinear al centro */
    text-align: center; 
    padding: 5px;
}

.parrafo{
    margin: 40px;
}

.gimnasios{
    width: 200px;

}







